<!DOCTYPE HTML>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Yaroslavche Config UI Bundle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
    </style>
</head>
<body>
<div id="yaroslavche_config_ui">
    <div class="container ui">
        <div v-for="(config, name, key) in bundles" :key="key">
            <div>
                <div v-for="(definitions, rootNode) in config">
                    <h2>${ name } <small>(${ rootNode })</small></h2>
                    <definitions-tree v-bind:definitions="definitions"></definitions-tree>
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/http-vue-loader"></script>

<script type="text/x-template" id="DefinitionsTree">
    <div>
        <div>
            <div v-for="(definition, name, key) in definitions" :key="key" style="margin-left: 20px">
                <div>
                    ${ name }: ${ definition.defaultValue }
{#                    <input type="text" v-show="definition.type === 'scalar' || definition.type === 'variable'" :placeholder="definition.defaultValue">#}
                </div>
                <div v-if="definition.type === 'array' && Object.keys(definition.children).length > 0">
                    <definitions-tree v-bind:definitions="definition.children"></definitions-tree>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    Vue.component('DefinitionsTree', {
        delimiters: ['${', '}'],
        template: '#DefinitionsTree',
        props: ['definitions']
    });
    const YaroslavcheConfigUI = new Vue({
        delimiters: ['${', '}'],
        el: '#yaroslavche_config_ui',
        data: {
            bundles: {{ bundles | raw }}
        },
        methods: {}
    });
</script>
</body>
</html>
